<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">ATM Collections</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment
        class="ion-padding"
        (ionChange)="onFilterUpdate($event)"
    >
        <ion-segment-button
            value="all"
            checked
        >
            All Collections
        </ion-segment-button>
        <ion-segment-button value="filtered">Collections with Notes</ion-segment-button>
    </ion-segment>

    <!-- <ion-grid *ngIf="!relevantCollections || relevantCollections.length <=0 ">
        <ion-row>
            <ion-col
                size="12"
                size-sm="8"
                offset-sm="2"
            >
                <p>There are no collections with Notes yet</p>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <div
        *ngIf="isLoading"
        class="ion-text-center"
    >
        <ion-spinner>Loading...</ion-spinner>

    </div>
    <!-- <p
        class="ion-text-center"
        *ngIf="!isLoading && loadedCollections"
    >
        No Collections found.
    </p> -->
    <ion-grid *ngIf="!isLoading && relevantCollections">
        <ion-row>
            <ion-col
                size="12"
                size-sm="8"
                offset-sm="2"
            >
                <ion-card
                    ion-padding
                    class="ion-text-center"
                >
                    <ion-card-header>
                        <ion-card-title>{{relevantCollections[0].title}}</ion-card-title>
                    </ion-card-header>
                    <ion-item>
                        <ion-img
                            class="img-show"
                            [src]="relevantCollections[0].imageUrl"
                        ></ion-img>
                    </ion-item>
                    <ion-card-content
                        color="dark"
                        class="ion-text-left"
                    >
                        <ion-item>
                            <ion-label color="primary">{{relevantCollections[0].description}}</ion-label>
                        </ion-item>
                    </ion-card-content>
                    <div>
                        <ion-button
                            slot="center"
                            fill="clear"
                            color="primary"
                            [routerLink]="[
                                '/',
                                'atms', 
                                'tabs',
                                'collections',
                                relevantCollections[0].collectionId
                            ]"
                        >
                            Show Collection
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col
                size="12"
                size-sm="8"
                offset-sm="2"
            >
                <ion-list>
                    <ion-item
                        *ngFor="let collection of listedCollections"
                        [routerLink]="[
                                '/',
                                'atms', 
                                'tabs',
                                'collections',
                                collection.collectionId
                            ]"
                        detail
                    >
                        <ion-thumbnail slot="start">
                            <ion-img [src]="collection.imageUrl"></ion-img>
                        </ion-thumbnail>
                        <ion-label>{{ collection.title}}</ion-label>

                    </ion-item>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
