<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/atms/tabs/notes"></ion-back-button>
        </ion-buttons>
        <ion-title>New ATM Note</ion-title>
        <ion-buttons slot="primary">
            <ion-button
                (click)="onCreateNote()"
                [disabled]="form?.invalid"
            >
                <ion-icon
                    name="checkmark"
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <!-- <ion-col
                    offset-sm="2"
                    size-sm="4"
                >
                    <ion-item>
                        <ion-input
                            class="ion-padding"
                            color="primary"
                            readonly
                            formControlName="collectionId"
                        ></ion-input>
                    </ion-item>

                </ion-col> -->
                <ion-col
                    size-sm="6"
                    offset-sm="3"
                >
                    <ion-item>
                        <ion-input
                            class="ion-padding"
                            color="primary"
                            readonly
                            formControlName="lessonId"
                            max="10"
                        ></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col
                    size-sm="6"
                    offset-sm="3"
                >
                    <ion-item>
                        <ion-input
                            color="primary"
                            readonly
                            formControlName="lessonTitle"
                        ></ion-input>
                    </ion-item>
                </ion-col>

            </ion-row>

            <ion-row>
                <ion-col
                    size-sm="6"
                    offset-sm="3"
                >
                    <ion-item>
                        <ion-label
                            color="primary"
                            position="floating"
                        >
                            Status
                        </ion-label>
                        <ion-select
                            interface="popover"
                            formControlName="status"
                        >
                            <ion-select-option value="New">New</ion-select-option>
                            <ion-select-option value="Done">Done</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col
                    size-sm="6"
                    offset-sm="3"
                >
                    <ion-item>
                        <ion-label
                            color="primary"
                            position="floating"
                        >
                            Level
                        </ion-label>
                        <ion-select
                            interface="popover"
                            formControlName="level"
                        >
                            <ion-select-option value="1">Easy</ion-select-option>
                            <ion-select-option value="2">Intermediate</ion-select-option>
                            <ion-select-option value="3">Advanced</ion-select-option>
                            <ion-select-option value="4">Expert</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col
                    size-sm="6"
                    offset-sm="3"
                >
                    <ion-item>
                        <ion-label
                            color="primary"
                            position="floating"
                        >
                            Position
                        </ion-label>
                        <ion-select
                            interface="popover"
                            formControlName="position"
                        >
                            <ion-select-option
                                *ngFor="let pos of positions"
                                value="{{pos.value}}"
                            >
                                {{pos.position}}
                            </ion-select-option>

                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col
                    size-sm="6"
                    offset-sm="3"
                >
                    <ion-card>
                        <ion-item>
                            <ion-label
                                color="primary"
                                position="floating"
                            >
                                Lesson Note
                            </ion-label>
                            <ion-textarea
                                formControlName="note"
                                rows="10"
                                autocomplete
                                autocorrect
                                auto-grow
                            ></ion-textarea>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
